<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(content=~{::section})}">
<section th:fragment="content">
    <div class="d-flex mb-3">
        <h3 class="me-auto">Sales</h3>
        <a class="btn btn-success" th:href="@{/sales/create}">Create</a>
    </div>
    <table class="table table-striped table-hover bg-white shadow-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Price</th>
            <th>Sold Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${sales}">
            <td th:text="${s.id}">1</td>
            <td th:text="${s.product != null ? s.product.title : '-'}">Product Title</td>
            <td th:text="${s.buyer != null ? s.buyer.username : '-'}">buyer1</td>
            <td th:text="${s.seller != null ? s.seller.username : '-'}">seller1</td>
            <td th:text="${s.soldPrice != null ? #numbers.formatInteger(s.soldPrice,3,'POINT') : '-'}">1,000,000</td>
            <td th:text="${s.soldAt != null ? #temporals.format(s.soldAt, 'dd/MM/yyyy HH:mm') : '-'}">02/10/2025 15:20</td>
            <td class="text-end">
                <a th:href="@{|/sales/${s.id}/edit|}" class="btn btn-sm btn-primary">Edit</a>
                <form th:action="@{|/sales/${s.id}/delete|}" method="post" class="d-inline">
                    <button class="btn btn-sm btn-danger" onclick="return confirm('Delete?')">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>