<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(content=~{::section})}">
<section th:fragment="content">
    <div class="d-flex mb-3">
        <h3 class="me-auto" th:text="#{nav.sales}">Lịch sử</h3>
    </div>
    <table class="table table-striped table-hover bg-white shadow-sm">
        <thead>
        <tr>
            <th th:text="#{order.id}">ID</th>
            <th th:text="#{order.product}">Product</th>
            <th th:text="#{order.buyer}">Buyer</th>
            <th th:text="#{order.seller}">Seller</th>
            <th th:text="#{order.price}">Price</th>
            <th th:text="#{order.status}">Status</th>
            <th th:text="#{order.createdAt}">Created At</th>
            <th th:text="#{order.completedAt}">Completed At</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">1</td>
            <td th:text="${order.product != null ? order.product.title : '-'}">Product Title</td>
            <td th:text="${order.buyer != null ? order.buyer.username : '-'}">buyer1</td>
            <td th:text="${order.seller != null ? order.seller.username : '-'}">seller1</td>
            <td th:text="${order.orderPrice != null ? #numbers.formatInteger(order.orderPrice,3,'POINT') : '-'}">1,000,000</td>
            <td>
                <span class="badge" 
                      th:classappend="${order.status.name() == 'COMPLETED'} ? 'bg-success' : 'bg-danger'"
                      th:text="#{'order.status.' + ${order.status.name().toLowerCase()}}">COMPLETED</span>
            </td>
            <td th:text="${order.createdAt != null ? #temporals.format(order.createdAt, 'dd/MM/yyyy HH:mm') : '-'}">02/10/2025 15:20</td>
            <td th:text="${order.completedAt != null ? #temporals.format(order.completedAt, 'dd/MM/yyyy HH:mm') : '-'}">-</td>
        </tr>
        </tbody>
    </table>
</section>
</html>